<!DOCTYPE html>
<html>
	<head>
		<style>
			body {{
				width: 100%;
				text-align: center;
			}}
			div {{
				margin: 0 auto;
			}}
			h1 {{
				font-size: 1.5em;
				margin-top: 2em;
				margin-bottom: 0em;
			}}
			td, th {{
				text-align: center;
			}}
			.revenue, .margin {{
				width: 200px;
				height: 75px;
				border: 1px solid black;
			}}
			.revenue {{
				background-color: #16d1f0;
			}}
			.margin {{
				background-color: #fedd00;
			}}
			table {{
				margin: 0 auto;
			    padding: 0;
				border: 1px solid black;
			}}
			tr {{
			    margin: 0;
			    padding: 0;
			    border: 1px solid black;
			}}
			td {{
			    margin: 0;
			    padding: 10px;
			    border: 1px solid black;
			}}
			th {{
			    margin: 0;
			    padding: 10px;
			    border: 1px solid black;
			}}
			img.pie {{
				width: 400px;
				margin: 0;
				padding: 0;
			}}
		</style>
	</head>
	<body>
        <table>
            <tr>
                <th colspan="4">All Other DSPs</th>
                <th colspan="4">RadiumOne DSP</th>
            </tr>
            {table}
        </table>
        <!-- <table>
            <tr>
                <th colspan="4">All Other DSPs</th>
                <th colspan="4">RadiumOne DSP</th>
            </tr>
            <tr>
                <td>{{date}}</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
                <td>{{date}}</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
            </tr>
            <tr>
                <td>Managed</td>
                <td>{{all_managed_revenue}}</td>
                <td>{{all_managed_margin}}</td>
                <td>{{all_managed_margin_percent}}</td>
                <td>Managed</td>
                <td>{{radium_managed_revenue}}</td>
                <td>{{radium_managed_margin}}</td>
                <td>{{radium_managed_marg</td>
            </tr>
            <tr>
                <td>Self Serve</td>
                <td>{{all_ss_revenue}}</td>
                <td>{{all_ss_margin}}</td>
                <td>{{all_ss_margin_percent}}</td>
                <td>Self Serve</td>
                <td>{{radium_ss_revenue}}</td>
                <td>Margin</td>
                <td>Margin %</td>
            </tr>
            <tr>
                <td>Always One</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
                <td>{{date}}</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
            </tr>
            <tr>
                <td>Test</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
                <td>{{date}}</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
                <td>{{date}}</td>
                <td>Revenue</td>
                <td>Margin</td>
                <td>Margin %</td>
            </tr>
        </table> -->
    </body>
</html>